Q1. What is a database? Differentiate between SQL and NoSQL databases.

Database-is an organised collection of structured data ,typically stored electronically in computer.Database is usually controlled by a database management system.

SQL-is the programming language used to interface with relational database.
-slower than NoSQL
-it is a table-based database.

NoSQL- is a class of DBMS that are non-relational and generally do not use sql.
-Faster than SQL.
-It is document-based database,key-value pairs.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL-Stands for data definition command.
-DDL is a set of SQL Commands used to create ,modify and delete database structure but not data.

Create-is used to create a new table in SQL.

Example-create table student_info(
college_id number(2),college_name varchar(30),branch varchar(10));

DROP-is used to remove the existing table along with the structure from database.

Example:DROP TABLE student_info;

ALTER-command is used to add,delete or change columns in existing table.

Example:Alter table student_info add cgpa number;

TRUNCATE-command is used to remove all rows from table,but the structure of table still exists.

Example:Truncate table student_info;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML-stands for Data Manipulation Language.
-It is used to modify the database.
-Commands of DML are not auto-committed.

INSERT-is used to insert data into the row of table.
Example: insert into student_info(
college_id,college_name)values(1,'MDU');

UPDATE:command is used to update the value of a column in the table.
Example:update student_info set college_name='DU' where college_id='1'.

DELETE:command is used to remove one or more row from a table.
Example:Delete from student_info where college_name='DU';

Q4. What is DQL? Explain SELECT with an example.

DQL- Stands for Data Query Language.
-It is used to make various queries in databases.

SELECT-is used to retrieve records from a database table according to clauses that specify criteria.

Example:Select * from student_info;

Q5. Explain Primary Key and Foreign Key.

Primary Key-focuses on the uniqueness of the table.it assures the value in the specific column is unique.
-Table allows only one primary key.

Foreign Key-is generally used to build a relationship between the two tables.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector
db=mysql.connector.connect(
host="localhost",
user="abc",
password="password"
)
print(db)

cursor()-is an iterator over a result set from a query.

Execute()-is used to execute the query and return records according to the query.

Q7. Give the order of execution of SQL clauses in an SQL query.

-SQL Order of execution

1-FROM/JOIN-choose and join table to get base data.
select * from student_info where name like '%a%';

2-WHERE-filters the base data.
select country,sum(area) from countries where sum(area)>1000 ;

3-GROUP BY-aggregates the base data.
select country,sum(area) from countries where sum(area)>1000 group by 1 ;

4-HAVING-filters the aggregated data.

5-SELECT-returns the final data
select * from student_info;

6-ORDER BY-sort the final data
select * from customers order by name;

7-LIMIT/OFFSET-limits the returned data to a row count.
select count(*) from student_info;