1.What are the characteristics of the tuple?is tuple immutable?

->Tuple are the ordered collection of elements of different data types.
->we represent tuple in parenthesis seperated by commas.
->Tuples are immutable.

2.what re the two tuple methods in python?Give an example of each method.Give a reason why tuples have only two built-in methods as compared to lists.

->Count() and index()

#Example of count()
thistuple=(1,2,3,4,5,5,7,8,5,5)
x=thistuple.count(5)
x

#Example of index()
thistuple1=(1,2,3,4,5,5,7,8,5,5)
y=thistuple1.index(7)
y

->It is impossible to change the content of tuples.The contents of the tuples cannot be change once they have been created in python.

3.Which collection of datatypes in python do not allow dulicate items?write a code using a set to remove duplicates from the given list?
->Sets do not allow duplicate items beacuse sets is unordered and unindexed.

In [25]:
list=[1,1,1,2,1,3,1,4,2,1,2,2,2,3,2,4,3,1,3,2,3,3,3,4,4,1,4,2,4,3,4,4]
a=set(list)
a

{1, 2, 3, 4}

4.Difference between union() and update() method of a set.give an example of each method.

->Union-Return the union of sets as a new set.
->Update-Update a set with the union of itself and others.

In [29]:
#Union Example
a={1,2,3,4}
b={4,5,6,7}
a.union(b)

{1, 2, 3, 4, 5, 6, 7}

In [37]:
#Update Example
c={"Rixit","Rohit","Harshit"}
d={"Manish","Tanuj","Rajnish"}
c.update(d)
c

{'Harshit', 'Manish', 'Rajnish', 'Rixit', 'Rohit', 'Tanuj'}

5.What is dictionary?Give an example.Also,state whether a dictionary is ordered or unorderd?
->Dictionaries are used to store data values in key:values pairs.
->Dictionary is ordered(python 3.7),changable and do not allow duplicates.

In [39]:
#Example of dictionary
a={"Name":"Rikshit",
   "Batch":"Data Science Masters",
   "Batch_Date":"30 January"}
a

{'Name': 'Rikshit',
 'Batch': 'Data Science Masters',
 'Batch_Date': '30 January'}

6.Can we create a nested dictionary?if,so please give an example by creating a simple one-level nested dictionary example.

->Yes ,we can createa nested dictionary

In [56]:
#Example of nested dictionary
Dict={"Asia":{"Country":"India","Capital":"New-Delhi"},
    "Australia":{"Country":"Australia","Capital":"Canberra"}}
print("Nested-Dcitionary",'\n')
print(Dict)

Nested-Dcitionary

{'Asia': {'Country': 'India', 'Capital': 'New-Delhi'}, 'Australia': {'Country': 'Australia', 'Capital': 'Canberra'}}

In [79]:
'''7.Using setdefault()method,create key named topics in the given 

dictionary and also add the value of the key as this 
list'''
topics=['python','Machine Learning','Deep Learning']
dict1={'language':"Python","course":"Data Science Masters"}

In [80]:
dict1.setdefault("topics",{"Python","Machine Learning","Deep Learning"})
dict1

{'language': 'Python',
 'course': 'Data Science Masters',
 'topics': {'Deep Learning', 'Machine Learning', 'Python'}}

8.What are three view objects in dictionaries?use the three in-built methods in python to display these three view objects for a given dictionary.
->Three View Objects are Keys,values and items

In [81]:
dict1={"Sport":"Cricket","Teams":['India','Australia','England','South Africa','Sri Lanka','New Zealand']}
dict1.keys()

dict_keys(['Sport', 'Teams'])

In [82]:
dict1.values()

dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])

In [83]:
dict1.items()

dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])