Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd
list=[4,8,15,16,23,42]
ser=pd.Series(list)
print(ser)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [2]:
type(ser)

pandas.core.series.Series

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [3]:
list1=[1,'a',2,'b',3,'c',4,'d',5,'e']
ser1=pd.Series(list1)
print(ser1)

0    1
1    a
2    2
3    b
4    3
5    c
6    4
7    d
8    5
9    e
dtype: object

In [4]:
type(ser1)

pandas.core.series.Series

Q3. Create a Pandas DataFrame that contains the following data:

Then, print the DataFrame.

In [6]:
data={"Name":['Alice','Bod','Claire'],
   "Age":[25,30,37],
   "Gender":["Female","Male","Female"]}
df=pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bod   30    Male
2  Claire   37  Female

In [8]:
type(df)

pandas.core.frame.DataFrame

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

-A pandas DataFrame is a two-dimensional data structure that can be bought of as a spreadsheet.DataFrame is a colection of series.

-Series in pandas only contain single list with indexes.

In [ ]:
#Example of Series:
list=[4,8,15,16,23,42]
ser=pd.Series(list)
print(ser)

In [ ]:
#Example of DataFrame
data={"Name":['Alice','Bod','Claire'],
   "Age":[25,30,37],
   "Gender":["Female","Male","Female"]}
df=pd.DataFrame(data)
print(df)

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

In [14]:
fd=pd.read_csv("players.csv")
fd.head(5)

,Rk,Conference,Schls,W,L,W-L%,SRS,SOS,AP,NCAA,FF,Regular Season Champ,Tournament Champ
0,1,Southeastern Conference,14,238,154,0.607,11.73,7.34,0,0,0,NaN,NaN
1,2,Pac-12 Conference,12,184,148,0.554,11.04,7.85,0,0,0,NaN,NaN
2,3,Big 12 Conference,10,182,97,0.652,16.61,10.02,0,0,0,NaN,NaN
3,4,Big Ten Conference,14,230,152,0.602,12.97,8.20,0,0,0,NaN,NaN
4,5,American Athletic Conference,11,167,134,0.555,6.76,3.85,0,0,0,NaN,NaN

In [16]:
fd.tail(5)

,Rk,Conference,Schls,W,L,W-L%,SRS,SOS,AP,NCAA,FF,Regular Season Champ,Tournament Champ
28,29,Northeast Conference,9,107,145,0.425,-14.28,-9.27,0,0,0,NaN,NaN
29,30,Ohio Valley Conference,10,142,150,0.486,-9.52,-6.55,0,0,0,NaN,NaN
30,31,Mid-Eastern Athletic Conference,8,96,118,0.449,-9.55,-4.19,0,0,0,NaN,NaN
31,32,America East Conference,9,125,126,0.498,-6.71,-5.22,0,0,0,NaN,NaN
32,33,Southland Conference,10,124,154,0.446,-10.64,-5.79,0,0,0,NaN,NaN

In [17]:
fd.sample()

,Rk,Conference,Schls,W,L,W-L%,SRS,SOS,AP,NCAA,FF,Regular Season Champ,Tournament Champ
3,4,Big Ten Conference,14,230,152,0.602,12.97,8.2,0,0,0,NaN,NaN

In [18]:
fd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Rk                    33 non-null     int64
 1   Conference            33 non-null     object
 2   Schls                 33 non-null     int64
 3   W                     33 non-null     int64
 4   L                     33 non-null     int64
 5   W-L%                  33 non-null     float64
 6   SRS                   33 non-null     float64
 7   SOS                   33 non-null     float64
 8   AP                    33 non-null     int64
 9   NCAA                  33 non-null     int64
 10  FF                    33 non-null     int64
 11  Regular Season Champ  0 non-null      float64
 12  Tournament Champ      0 non-null      float64
dtypes: float64(5), int64(7), object(1)
memory usage: 3.5+ KB

In [20]:
fd.describe()

,Rk,Schls,W,L,W-L%,SRS,SOS,AP,NCAA,FF,Regular Season Champ,Tournament Champ
count,33.00000,33.000000,33.000000,33.000000,33.000000,33.000000,33.000000,33.0,33.0,33.0,0.0,0.0
mean,17.00000,11.000000,162.515152,147.666667,0.514697,-1.033030,-0.546061,0.0,0.0,0.0,NaN,NaN
std,9.66954,2.474874,47.081791,32.479481,0.071000,8.387309,5.133459,0.0,0.0,0.0,NaN,NaN
min,1.00000,2.000000,16.000000,41.000000,0.281000,-16.200000,-9.270000,0.0,0.0,0.0,NaN,NaN
25%,9.00000,10.000000,141.000000,133.000000,0.481000,-6.080000,-4.190000,0.0,0.0,0.0,NaN,NaN
50%,17.00000,11.000000,165.000000,150.000000,0.515000,-2.760000,-1.670000,0.0,0.0,0.0,NaN,NaN
75%,25.00000,12.000000,184.000000,166.000000,0.565000,6.760000,3.850000,0.0,0.0,0.0,NaN,NaN
max,33.00000,15.000000,239.000000,202.000000,0.652000,16.610000,10.020000,0.0,0.0,0.0,NaN,NaN

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

-Series objects are value_mutable but size-immutable objects.
-DataFrame is mutable and provides great flexibility.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [34]:
a=pd.Series(["ABC","DEF","GHI"])

In [35]:
b=pd.Series(["JKL","MNO","PQR"])

In [36]:
df3=pd.DataFrame(a.append(b,ignore_index=True))
df3

     0
0  ABC
1  DEF
2  GHI
3  JKL
4  MNO
5  PQR

In [42]:
df3[0][1]

'DEF'

In [45]:
type(df3)

pandas.core.frame.DataFrame